<html>
    <head>
        <title>
            404!Page not found
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
{{>header}}
            <div>
           
           <center><img src="/img/pagenotfound.jpg" style="margin-left:0;margin-top:0;width:80%;height:100%;"></center>
        </div>

{{>footer}}

<script src="/js/notify-client.js"></script>
    </body>
</html>