<!DOCTYPE html>
<html>
<title>Categories</title>
<style>
    .tales {
        width: 100%;
    }

    .carousel-inner {
        width: 100%;
        max-height: 500px !important;
    }
</style>

<head>
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" href="/img/grocery2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="color: black;">

    {{>header}}
    <div class="main-content">
        <br>
        <div class="container" style="height: 50%;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/img/photos/Untitled design (3).jpg" alt="Jeans" style="width:100%">
                        <div class="w3-display-topleft w3-text-black" style="padding:24px 48px">
                            <h1 class="slidertext w3-jumbo w3-hide-small"
                                style="font-family: 'Times New Roman', Times, serif;">Fruits</h1>
                            <h1 class="slidertext w3-hide-large w3-hide-medium"
                                style="font-family: 'Times New Roman', Times, serif;">Fruits</h1>
                            <h1 class="slidertext w3-hide-small" style="font-family: 'Times New Roman', Times, serif;">
                                get upto 15%off</h1><br><br>
                            <p><a href="" class="slidertext w3-button w3-black w3-padding-large w3-large">SHOP NOW</a>
                            </p>
                        </div>

                    </div>

                    <div class="item">
                        <img src="/img/photos/Untitled design (5).jpg" alt="Jeans" style="width:100%">
                        <div class="w3-display-topleft w3-text-black" style="padding:24px 48px">
                            <h1 class="slidertext w3-jumbo w3-hide-small"
                                style="font-family: 'Times New Roman', Times, serif;">Beverages</h1>
                            <h1 class="slidertext w3-hide-large w3-hide-medium"
                                style="font-family: 'Times New Roman', Times, serif;">Beverages</h1>
                            <h1 class="slidertext w3-hide-small" style="font-family: 'Times New Roman', Times, serif;">
                                get upto 50%off</h1><br><br>
                            <p><a href="" class="slidertext w3-button w3-black w3-padding-large w3-large">SHOP NOW</a>
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/img/photos/Untitled design (7).jpg" alt="Jeans" style="width:100%">
                        <div class="w3-display-topleft w3-text-black" style="padding:24px 48px">
                            <h1 class="slidertext w3-jumbo w3-hide-small"
                                style="font-family: 'Times New Roman', Times, serif;">Makeup & Beauty</h1>
                            <h1 class="slidertext w3-hide-large w3-hide-medium"
                                style="font-family: 'Times New Roman', Times, serif;">Makeup & Beauty</h1>
                            <h1 class="slidertext w3-hide-small" style="font-family: 'Times New Roman', Times, serif;">
                                get upto 10%off</h1><br><br>
                            <p><a href="" class="slidertext w3-button w3-black w3-padding-large w3-large">SHOP NOW</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
      <br><br><br>
        <center>
            <p style="font-size:39px;font-weight: 200;">Click to Explore by
                Category</p>
        </center>
        <hr>
    </div>
    </div>
    </div><br><br>





    <div class="conatiner">

        <div class="row" style="margin-left: 25px;margin-right:25px">
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/bev.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Beverages</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/bak.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Bread/Bakery</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/can.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Canned Goods</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/dry.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Dry/Baking Goods</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
        </div>


        <div class="row" style="margin-left: 25px;margin-right:25px">
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/dairy.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Dairy products</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/frozen.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Frozen food</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/meat.jpeg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Meat</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/fruits.png" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Produce</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left: 25px;margin-right:25px">
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/personalcare.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Personal care</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/cleaners.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Cleaners</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/papergood.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Paper goods</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <center><img src="/img/photos/cart.jpg" width="150px" height="150px"></center><br>
                    <center>
                        <p style="font-size: 20px;">Go to cart</p>
                    </center>
                    <center><button type="submit" class="button">Click here to see</button></center>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
{{>footer}}

</html>