<html>

<head>
  <title>
    Grocery Mart

  </title>

  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/indexstyles.css">
  <link rel="stylesheet" href="/css/products.css">
  <link rel="icon" href="/img/grocery2.png">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/multiitemcarousel.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body>
  {{>header}}
  <div class="main-content">



    {{!-- <!--Carousel starts here-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <center>
            <img src="/img/basic-1.png" alt="Los Angeles" style="width:80%;height:70%"></center>
        </div>

        <div class="item">
          <img src="/img/bg_vec2.jpg" alt="Chicago" style="width:100%;height:70%">
        </div>

        <div class="item">
          <img src="/img/bg_vec02.jpg" alt="New york" style="width:100%;height:70%">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--Carousel ends here--> --}}

    <div id="hideonsm" class="container" style="position: relative;">
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-horizontal-xl" style="list-style-type: none;">
            <li >
              <center><a href="#fruits" class="list-group-item list-group-item-action list-group-item-primary"> Fruits &
                  Vegetables</a></center>
            </li>
            <li>
              <center><a href="#foodgrain"
                  class="list-group-item list-group-item-action list-group-item-primary">Foodgrain, oil & Masala</a>
              </center>
            </li>
            <li>
              <center><a href="#bakery" class="list-group-item list-group-item-action list-group-item-primary">Bakery &
                  Dairy</a></center>
            </li>
            <li>
              <center><a href="#snacks" class="list-group-item list-group-item-action list-group-item-primary">Snacks &
                  Branded foods</a></center>
            </li>
            <li>
              <center><a href="#beauty" class="list-group-item list-group-item-action list-group-item-primary">Beauty &
                  Hyigene</a></center>
            </li>
            <li>
              <center><a href="#cleaning"
                  class="list-group-item list-group-item-action list-group-item-primary">Cleaning & household</a>
              </center>
            </li>
            <li>
              <center><a href="#kitchen" class="list-group-item list-group-item-action list-group-item-primary">Kitchen,
                  garden & Pets</a></center>
            </li>
            <li>
              <center><a href="#meat" class="list-group-item list-group-item-action list-group-item-primary">Eggs, Meat
                  & Fish</a></center>
            </li>

          </ul>
        </div>
      </div>
    </div>


    <!--Carousel starts here-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img id="carouseling" src="/img/Group-fruits.png" alt="Los Angeles">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>

        <div class="item">
          <img id="carouseling" src="/img/Group-babycare.png" alt="Chicago">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>

        <div class="item">
          <img id="carouseling" src="/img/Group-bakery.png" alt="New york">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>
        <div class="item">
          <img id="carouseling" src="/img/Group-beauty.png" alt="Los Angeles">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>

        <div class="item">
          <img id="carouseling" src="/img/Group-beverages.png" alt="Chicago">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>

        <div class="item">
          <img id="carouseling" src="/img/Group-cleaning.png" alt="New york">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>
        <div class="item">
          <img id="carouseling" src="/img/Group-foodgrains.png" alt="Los Angeles">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>

        <div class="item">
          <img id="carouseling" src="/img/Group-kitchen.png" alt="Chicago">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>

        <div class="item">
          <img id="carouseling" src="/img/Group-meat.png" alt="New york">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>
        <div class="item">
          <img id="carouseling" src="/img/Group-snacks.png" alt="Los Angeles">
          <span id="corauseltext">
            <h2> Fruits and Vegetables</h2>
            <h1>Get upto <span style="color: red;">50% </span>off</h1><br>
            <a href="#" style="padding:12px;background-color:green;border-radius:8px;color:white;margin-top:20px">BUY
              NOW </a>

          </span>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--Carousel ends here-->

    <br><br>
    <div style="background-color: #f8f6f6;padding-top:10px;padding-bottom:10px">
      <div style="margin-left: 10%;margin-right:10%;margin-top:5%;margin-bottom:5%">
        <p>
          <center>
            <p style="font-size: 25px;color:rgb(80, 80, 80)">Welcome to Grocery Mart</p>
          </center>
          <hr width="90%">
          <p class="headingtext">You can buy fruits, vegetables, beverages, personal care products, household & all
            grocery items Online with Oristen Online Grocery Store Karnal. Download Oristen app and order all your daily
            essentials with click of a button and get them delivered at your doorstep with our trusted online grocery
            delivery service.

            Online Grocery shopping comes with lots of benefits. You can check out the complete article.

            Don’t forget to check our offer section for attractive offers. You can follow us on Facebook and Instagram
            also for daily attractive offers.Lorem ipsum dolor sit amet, consectetur adipiscing elit.<h4>
          </p>
      </div>
    </div>


    <br>
    <center>



      <center>
        <p style="font-size: 25px;color:rgb(80, 80, 80)">Our Best Selling Products</p>
      </center>
      <hr width="90%">
      <div class="container">

        <div class="row">
          <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
            <div class="MultiCarousel-inner">
              {{# each products}}
              {{# each this}}
              <div class="item">
                <div class="pad15">
                  {{!-- <p class="lead">Multi Item Carousel</p> --}}
                  <center>
                    <img src="{{this.imagePath}}" alt="" class="img-responsive" style="max-height: 150px;">
                  </center>
                  <p style="font-size:17px;max-block-size: 30px;min-block-size:30px">{{this.title}}</p><br>
                  <p style="color: maroon;">₹ {{this.price}}</p>
                  <p>20% off</p>
                  <a href="cart/{{this._id}}" class="addtocart pull-center"
                    style="background-color:#b9f8b9;color:#008000;padding:10px 12px;width:100%"><span><i
                        class="fa fa-cart-plus" style="color:#008000;margin-bottom:16px" aria-hidden="true"></i></span>
                    Add to cart</a>
                </div>
              </div>
              {{/each}}
              {{/each}}
            </div>
            <button class="leftLst leftbotton">< </button>
                <button class="rightLst rightbutton">></button>
          </div>


        </div>
      </div>




      <center>
        <p style="font-size: 25px;color:rgb(80, 80, 80);margin-top:30px">Explore by categories</p>
      </center>
      <hr width="90%">




      <center>
        <p id="fruits" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Fruits & Vegetables</p>
      </center>
      <hr width="90%">
      <!--Style one starts here-->
      <div class="container diffcategories" style="background-color: #f8f6f6;">
        <div class="row" style="height: 50%;">
          <div class="col-sm-6 col-md-6 carddiffcat" id="carddiffcat" style="padding:0;background-image: url(/img/sq-fruits.png);background-size:cover;
            background-repeat: no-repeat;">
          </div>
          <div class="col">
            <div class="row justify-content-center" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0;background-image: url(/img/homepage/exotic-fruits.jpg);background-size:cover;
                background-repeat: no-repeat;background-size: 100% auto;background-position:bottom;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Exotic Fruits</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0;background-image: url(/img/homepage/fresh-veggies.jpg);background-size:cover;
                background-repeat: no-repeat;background-size: 100% auto;background-position:bottom;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Fresh veggies</i></b></span>
              </div>
            </div>
            <div class="row justify-content-center" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0;background-image: url(/img/homepage/cuts-and-sprouts.jpg);background-size:cover;
                background-repeat: no-repeat;background-size: 100% auto;background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Cuts & Sprouts</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0;background-image: url(/img/homepage/organic.png);background-size:cover;
               background-repeat: no-repeat;background-size: 100% auto;background-position:bottom;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Explore now!</i></b></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--Style one ends here-->
      <center>
        <p id="foodgrain" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Foodgrain, oil & Masala</p>
      </center>
      <hr width="90%">
      <!--Style 2 starts here-->
      <div class="container" style="background-color: #f8f6f6 ">
        <div class="row " style="height: 30%;">
          <div id="carddiffcat" class="col card" style="padding:0;border-color:brown;background-image: url(/img/homepage/spices.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
    <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Spices</i></b></span>
            {{!-- <img src="/img/sq-fruits.png" class="card-img" alt="..."> --}}
          </div>
          <div id="carddiffcat" class="col card" style="padding:0;border-color:brown;background-image: url(/img/homepage/flours.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;
    ">
           <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Flours</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="padding:0;border-color:brown;background-image: url(/img/homepage/pulses-and-rice.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
           <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Rice & cereals</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="padding:0;border-color:brown;background-image: url(/img/homepage/dry-fruits.png);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
           <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Dry fruits</i></b></span>
          </div>
        </div>
      </div>
      <!--Style 2 ends here-->

      <center>
        <p id="bakery" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Bakery & Dairy</p>
      </center>
      <hr width="90%">
      <!--style 3 starts here-->
      <div class="container diffcategories" style="background-color: #f8f6f6 ">
        <div class="row" style="height:50%;">
          <div class="col">
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/breads-buns.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Breads & Buns</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/cakes.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Cakes & Pasteries</i></b></span>
              </div>
            </div>
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/ice-cream.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Ice Creams</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/bakery-snacks.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Bakery Snacks</i></b></span>
              </div>
            </div>

          </div>

          <div id="carddiffcat" class="col card carddiffcat"
            style="padding:0px;background-image: url(/img/bakery.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Bakery Products</i></b></span>
          </div>
        </div>
      </div>
      <!--style 3 ends here-->

      <center>
        <p id="snacks" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Snacks & Branded foods</p>
      </center>
      <hr width="90%">
      <!--Style one starts here-->
      <div class="container diffcategories" style="background-color: #f8f6f6 ">
        <div class="row" style="height:50%;">
          <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/snacks.jpg);">
          <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Explore Snacks now!</i></b></span>
            {{!-- <img src="/img/Group-fruits.png" class="card-img-top" alt="..."> --}}
          </div>
          <div class="col">
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/tea-coffee.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>tea & Coffee</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/health-drinks.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
               <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Health Drinks</i></b></span>
              </div>
            </div>
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/juices.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Juices</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/soft-drinks.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:center;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Soft Drinks</i></b></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--Style one ends here-->

      <center>
        <p id="beauty" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Beauty & Hyigene</p>
      </center>
      <hr width="90%">
      <!--Style 2 starts here-->
      <div class="container" style="background-color: #f8f6f6 ">
        <div class="row" style="height:30%;">
          <div id="carddiffcat" class="col card" style="padding:0px;border-color:brown;background-image: url(/img/homepage/soap-handwash.jpeg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Handwash & Soaps</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="padding:0px;border-color:brown;background-image: url(/img/homepage/deo.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Deo & Fragnance</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="padding:0px;border-color:brown;background-image: url(/img/homepage/makeup.png);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
           <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Makeup Products</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="padding:0px;border-color:brown;background-image: url(/img/homepage/skincare.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
           <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Body Care</i></b></span>
          </div>
        </div>
      </div>
      <!--Style 2 ends here-->

      <center>
        <p id="cleaning" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Cleaning & household</p>
      </center>
      <hr width="90%">
      <!--style 3 starts here-->
      <div class="container diffcategories" style="background-color: #f8f6f6 ">
        <div class="row" style="height:50%;">
          <div class="col">
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;border-color:yellow;background-image: url(/img/homepage/all-purpose-cleaners.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
               <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>All Purpose Cleaners</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;border-color:yellow;background-image: url(/img/homepage/pooja-needs.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
               <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Puja Needs</i></b></span>
              </div>
            </div>
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;border-color:yellow;background-image: url(/img/homepage/stationary.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
               <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Stationary</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;border-color:yellow;background-image: url(/img/homepage/mops.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:bottom;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Mops & Scrubs</i></b></span>
              </div>
            </div>

          </div>

          <div id="carddiffcat" class="col card carddiffcat"
            style="padding:0px;border-color:yellow;background-image: url(/img/cleaning.jpg);background-size:cover;
  background-repeat: no-repeat;background-size: 100% auto;
    background-position:top;">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Explore Now!</i></b></span>
            {{!-- <img src="/img/Group-fruits.png" class="card-img-top" alt="..."> --}}
          </div>
        </div>
      </div>
      <!--style 3 ends here-->

      <center>
        <p id="kitchen" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">Kitchen, garden & Pets</p>
      </center>
      <hr width="90%">
      <!--Style one starts here-->
      <div class="container diffcategories" style="background-color: #f8f6f6 ">
        <div class="row" style="height:50%;">
          <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/sq-pets.jpg);">
          <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Explore Now!</i></b></span>
            {{!-- <img src="/img/Group-fruits.png" class="card-img-top" alt="..."> --}}
          </div>
          <div class="col">
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/utensils.jpeg);background-size:cover;
  background-repeat: no-repeat;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Utensils</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/containers.jpg);background-size:cover;
  background-repeat: no-repeat;">
               <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Containers</i></b></span>
              </div>
            </div>
            <div class="row" style="height:50%;">
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/gardening.jpg);background-size:cover;
  background-repeat: no-repeat;">
                <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>gardening Needs</i></b></span>
              </div>
              <div id="carddiffcat" class="col card carddiffcat" style="padding:0px;background-image: url(/img/homepage/pet-foods.jpg);background-size:cover;
  background-repeat: no-repeat;">
               <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Pet Care</i></b></span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--Style one ends here-->
      <center>
        <p id="meat" style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px">More Categories</p>
      </center>
      <hr width="90%">
      <!--Style 2 starts here-->
      <div class="container" style="background-color: #f8f6f6 ">
        <div class="row" style="height:30%">
          <div id="carddiffcat" class="col card" style="border-color:brown;background-image: url(/img/sq-meat.png);">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Egg, Meat & Fish</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="border-color:brown;padding:0px;background-image: url(/img/homepage/diapers.png);background-size:cover;
  background-repeat: no-repeat;">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Baby Care</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="border-color:brown;padding:0px;background-image: url(/img/homepage/maternity-care.jpg);background-size:cover;
  background-repeat: no-repeat;">
            <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Maternity Care</i></b></span>
          </div>
          <div id="carddiffcat" class="col card" style="border-color:brown;padding:0px;background-image: url(/img/bg_vec1.jpg);background-size:cover;
  background-repeat: no-repeat;">
           <span style="padding: 10px 12px;background-color:white;opacity:80%;width:100%"><b><i>Explore All!</i></b></span>
          </div>
        </div>
      </div>
      <!--Style 2 ends here-->


      <br><br>

      <center>
        <p style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px"> Deals That Will Interest You</p>
      </center>
      <hr width="90%">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12" style="margin: 10px 0;">
            <div class="card brandcard" style="background-color: rgb(246, 248, 255);">
              <img src="/img/bg_vec2.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="color: black;">
                <br>
                <h4><strong>For our new customers</strong></h4>
                <p class="card-text">15% OFF ON YOUR FIRST ORDER</p><br>
                <a href="#" class="btn-primary"
                  style="padding: 10px 12px;border-radius:4px;background-color:#007bff;">Get offer coupon</a><br><br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12" style="margin: 10px 0;">
            <div class="card brandcard" style="background-color: rgb(246, 248, 255);">
              <img src="/img/sbi.jfif" class="card-img-top" alt="...">
              <div class="card-body" style="color: black;">
                <br>
                <h4><strong>For sbi card users</strong></h4>
                <p class="card-text">10% DISCOUNT ON SBI CARD PAYMENTS</p><br>
                <a href="#" class="btn-primary"
                  style="padding: 10px 12px;border-radius:4px;background-color:#007bff;">Get offer coupon</a><br><br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12" style="margin: 10px 0;">
            <div class="card brandcard" style="background-color: rgb(246, 248, 255);">
              <img src="/img/paytm.jpg" class="card-img-top" alt="...">
              <div class="card-body" style="color: black;">
                <br>
                <h4><strong>For our new customers</strong></h4>
                <p class="card-text">15% OFF ON YOUR FIRST ORDER</p><br>
                <a href="#" class="btn-primary"
                  style="padding: 10px 12px;border-radius:4px;background-color:#007bff;">Get offer coupon</a><br><br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <center>
        <p style="font-size: 25px;color:rgb(80, 80, 80);margin-top:20px"> Brands</p>
      </center>
      <hr width="90%">
      <!--Style 2 starts here-->
      <div class="container">
        <div class="row" style="height:25%">
          <div id="carddiffcat" class="col card" style="border-color:rgb(238, 241, 255);border-radius:2px">
            <img src="/img/brand-colgate.png" class="card-img-top" alt="...">
          </div>
          <div id="carddiffcat" class="col card" style="border-color:rgb(238, 241, 255);border-radius:2px">
            <img src="/img/brand-cadbury.png" class="card-img-top" alt="...">
          </div>
          <div id="carddiffcat" class="col card" style="border-color:rgb(238, 241, 255);border-radius:2px">
            <img src="/img/brand-nestle.png" class="card-img-top" alt="...">
          </div>
          <div id="carddiffcat" class="col card" style="border-color:rgb(238, 241, 255);border-radius:2px">
            <img src="/img/brand-johnsons.png" class="card-img-top" alt="...">
          </div>
          <div id="carddiffcat" class="col card" style="border-color:rgb(238, 241, 255);border-radius:2px">
            <img src="/img/brand-amul.png" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
      <!--Style 2 ends here-->


  </div>

  {{>footer}}
  <script src="/js/multiitemcarousel.js"></script>
  <script src="/js/notify-client.js"></script>
</body>

</html>