<html>
    <head>
        <title>
            Grocery Mart
        </title>
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
     {{>header}}
        <div class="main-content">
            

        </div>
        {{>footer}}

    </body>
</html>