<!DOCTYPE html>
<html>
<title>Privacy Policy</title>


<head>
    <link rel="stylesheet" href="/css/categories.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="icon" href="/img/grocery2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="color: black;">

    {{>header}}
    <div class="main-content">

        <center>
            <br>
            <h1> Our Privacy Policy</h1>
            <hr>
        </center>
        <p style="margin-left:10%;margin-right:10%;text-align: center;font-size: 20px;">We respect your privacy and values the trust you place in it. <br>
            Customers are advised to read and understand our privacy policy carefully so that, no issues occur in
            future. <br>
            You need to fill our form that includes your name, address, city, contact and email. <br>
            We will surely take care about your information and make it safe and secure.
            Thank you for putting your trust and giving your personal information to our company.
            We would use your data with full security and provide you all the items at your door.
            We plan and schedule routes for deliveries by your given address so it becomes easy for us to manage.
            We will surely make you allow to receive quality customer care services.
            We use data collection devices such as “cookies” on certain pages to help analyze our web page flow, measure
            promotional effectiveness, and promote trust and safety.
            “Cookies” are small files placed on your hard drive that assist us in providing our services.
            We offer certain features that are only available through the use of a “cookie”.
            We also use your contact information to send you offers on your interest. <br>
            If you are interested in knowing our offer and new products then we would contact you by email or call.
            Our company will not use any financial information rather than for transaction with you. <br>
            We would never ask you for your any personal data by email or call or if such things happen please do not
            respond and contact us immediately for necessary action. <br>
            If you are not agree with our terms and conditions, please do not access our app.
        </p>

        
    </div>

</body>
{{>footer}}

</html>