<html>
    <head>
        <title>
            Grocery Mart
        </title>
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            Beverages
            Bread/Bakery
            Canned/Jarred Goods
            Dairy
            Dry/Baking Goods
            Frozen Foods
            Meat
            Produce
            Cleaners
            Paper Goods
            Personal Care
            Others

        </div>
        {{>footer}}
    </body>
</html>
