<html>
    <head>
        <title>
           Sign In
        </title>
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/login_styles.css">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <section >
	
	<div class="column2"style="background-color:#ffffff">
		<div id="white">
			<h1>Create Account</h1><br>
			<img src="https://i.ibb.co/2yHwRKg/fb.png">
			<img src="https://i.ibb.co/KV23QM7/google.png">
			<img src="https://i.ibb.co/G2J5c5B/linkedin.png"><br>
			<p>or use your emailfor registration</p><br>
			Enter email <input type="email" style="margin-left:25;"></input><br><br>
			Enter password <input type="password" ></input><br><br><br>
			<button id="whitebutton">Sign In</button>
		</div>
	</div>
	
	<div class="column1" style="margin:0 0 0 0;padding:0 10 0 10" >
	
		<div id="coloured">
				<h1 id="welcome">To create account</h1>
				<p>Enter your personal details and start using internet banking facilities.<p><br><br>
				<button class="colouredbutton"><a href="signup" style="color: white;text-decoration:none">Sign Up</a></button>
		</div>
	</div>
</section>

        </div>
        {{>footer}}
    </body>
</html>