<html>
    <head>
        <title>
            Sign up
        </title>
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/login_styles.css">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;padding-top:10px;padding-bottom:10px;padding-left:16px;padding-right:16px">
  <a class="navbar-brand" href="/" style="font-size: x-large;"><img style="width: 35px;height:35px; float:left;margin-right:20px;" src="/img/navicon.png">Home</a>
</nav>

            <section >
	<div class="column1" style="margin:0 0 0 0;padding:0 10 0 10;">
	
		<div id="coloured">
				<span id="headings" id="welcome">Welcome Back!</span id="headings">
				<p>To keep connected with us login to your personal info<p><br><br>
				<button id="input_signin"class="colouredbutton"><a href="signin" style="color: white;text-decoration:none">Sign In</a></button>
		</div>
	</div>
	
	<div class="column2"style="background-color:#ffffff">
		<div id="white">
			<span id="headings">Create Account</span id="headings"><br>
			<img src="https://i.ibb.co/2yHwRKg/fb.png">
			<img src="https://i.ibb.co/KV23QM7/google.png">
			<img src="https://i.ibb.co/G2J5c5B/linkedin.png"><br>
			<p>or use your emailfor registration</p><br>
			<form method="POST" action="/doSignup">
			Enter name <input id="n1" type="text" name="name2" style="margin-left:50;" required></input><br><br>
			Enter email <input id="e1" type="email" name="email2" style="margin-left:50;" required></input><br><br>
			Enter password <input id="p1" type="password" name="password" required style="margin-left:25;" minlength="7"></input><br><br><br>
			Re-Enter password <input id="p2" type="password" name="passwordTwo" required></input><br><br><br>
			<p style="color: red;">{{msg1}}</p>
			<input type="submit" id="whitebutton" name="submit" />
			</form>
		</div>
	</div>
</section>

        </div>
        {{!-- {{>footer}} --}}
		<script src="/js/app.js"> </script>
    </body>
</html>