<html>
    <head>
        <title>
           Sign In
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="icon" href="/img/grocery2.png">
        <link rel="stylesheet" href="/css/login_styles.css">
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
    <body>
        {{>header}}
        <div class="main-content">


            <section >
	
	<div class="column2"style="background-color:#ffffff">
		<div id="white">
			<span id="headings">Create Account</span><br>
			<img src="https://i.ibb.co/2yHwRKg/fb.png">
			<img src="https://i.ibb.co/KV23QM7/google.png">
			<img src="https://i.ibb.co/G2J5c5B/linkedin.png"><br>
			<p>or use your emailfor registration</p><br>
			<form action="/doSignIn" method="POST">
			Enter email <input id="input_email" type="email" name="email" style="margin-left:25;"></input><br><br>
			Enter password <input id="input_password" type="password" name="password"></input><br><br><br>
			<p style="color: red;">{{message}}</p>
			<input type="submit" id="whitebutton" class="input_signin"></input>
			</form>
			
		</div>
	</div>
	
	<div class="column1" style="margin:0 0 0 0;padding:0 10 0 10" >
	
		<div id="coloured">
				<span id="headings" id="welcome">To create account</span>
				<p>Enter your personal details and start using internet banking facilities.<p><br><br>
				<button class="colouredbutton" id="input_signup"><a href="signup" style="color: white;text-decoration:none">Sign Up</a></button>
		</div>
	</div>
</section>

        </div>
	 {{>footer}}
		<script src="/js/app.js"> </script>
    </body>
</html>