<html>

<head>
  <title>
    Sign up
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="icon" href="/img/grocery2.png">
  <link rel="stylesheet" href="/css/login_styles.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <form id="resForm" method="POST" action="/searchRes">

    <div class="crow">
      <div class="ccol-25">
        <label for="name" style="color: black;">Enter name</label>
      </div>
      <div class="ccol-75">
        <input id="resName" type="text" name="name" style="color: black;" placeholder="Your name..."></input>
      </div>
    </div>
    <div class="crow">
      <div class="ccol-25">
        <label for="email" style="color: black;">Email</label>
      </div>
      <div class="ccol-75">
        <input id="resEmail" type="email" name="email" style="color: black;" placeholder="Your email.."></input>
      </div>
    </div>
    <div class="crow">
      <div class="ccol-25">
        <label for="subject" style="color: black;">Enter password</label>
      </div>
      <div class="ccol-75">
        <input id="resPass" type="password" name="password" minlength="7" style="color: black;"
          placeholder="Your password.."></input>
      </div>
    </div>
    <div class="crow">
      <div class="ccol-25">
        <label for="subject" style="color: black;">Re-enter password</label>
      </div>
      <div class="ccol-75">
        <input id="resPassTwo" type="password" name="passwordTwo" style="color: black;" minlength="7"
          placeholder="confirm password.."></input>
        <p style="color: red;">{{msg1}}</p>
      </div>
    </div>
    <input type="text" name="searchText">
    <div class="crow">
      {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
      <input id="resSubmit" type="submit" name="submit" value="Signup" style="width: 180px;color:white">
    </div>

  </form>

</body>

</html>