<footer>
    <div>
        <b>Contact Us</b>
    </div>
    <div>
        <b>Corporate address</b>
    </div>
    <div>
        <b>Connect with us</b>
    </div>
    <p>
        Created by {{name}}
    </p>
</footer>
