<footer>
     <div class="lower">
        </div>
        <div class="lower1" style="padding-top: 30px;">
            <table style="width: 100%;position: absolute;">
                <tr>
                    <th style="text-align: center;">CONTACT US</th>
                    <th style="text-align: center;">CORPORATE ADDRESS</th>
                    <th style="text-align: center;"> CONNECT WITH US ON</th>
                </tr>
                <tr  style="text-align: center;">
                    <td>Phone: 0244-458962</td>
                    <td>ABC Building,</td>
                    <td rowspan="5"><img src="social.png" style="padding-right:100px; float:right; width:80%;"></td>
                </tr>
                <tr>
                    <td>Mob: 7985264314</td>
                    <td>BCD rode, EFG colony</td>
                </tr>
                <tr>
                    <td>Email: grocerymart@gmail.com</td>
                    <td>GHI Block,</td>
                </tr>
                <tr>
                    <td style="opacity: 0">y</td>
                    <td>PIN: 859623</td>
                </tr>
                <tr>
                    <td style="opacity: 0">x</td>
                    <td>HIJK ,India</td>
                </tr>
            </table>
        </div>
        <div class="lower2">
            <h5> Copyright © 2020 Grocery Mart </h5>
        </div>
    {{!-- <div>
        <b>Contact Us</b>
    </div>
    <div>
        <b>Corporate address</b>
    </div>
    <div>
        <b>Connect with us</b>
    </div>
    <p>
        Created by {{name}}
    </p> --}}
</footer>
