<footer style="margin-top: 20px;">
    <hr width="90%" height="1px" style="margin-top: 5%;margin-bottom:2%">
    <div>
        <center>
            <table style="width: 80%;text-align:justify;font-family:sans-serif;font-size:1.05vw">
                <tr style="text-align: justify;">
                    <th style="color:rgb(130, 185, 41);width:30%">
                        Grocery mart
                    </th>
                    <th style="color:rgb(130, 185, 41);width:30%">
                        Help
                    </th>
                    <th style="color:rgb(130, 185, 41);width:30%">
                        Follow us on
                    </th>
                </tr>
                <tr style="text-align: justify;">
                    <td style="color: darkgray;">
                        <br>
                        About us<br><br>
                        Privacy Policy <br><br>
                        Affiliate <br><br>
                        Terms and Conditions <br><br>
                    </td>
                    <td style="color: darkgray;">
                        <br>
                        FAQs <br><br>
                        Contact US <br><br>
                        Wallet FAQs <br><br>
                        Wallet TnCs <br><br>                    
                        Vendor Contact
                    </td>
                    <td>
                        <img src="" alt="facebook">
                        <img src="" alt="instagram"><img src="" alt="twitter"><img src="" alt="pinterest"> 
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <hr width="90%" height="1px" style="margin-top: 2%;margin-bottom:2%">
    <div>
        <center>
            <table style="width: 80%;font-family:sans-serif;font-size:1.05vw">
                <tr style="text-align: justify;">
                    <th style="color: rgb(130, 185, 41);width:30%">
                        POPULAR CATEGORIES
                    </th>
                    <td style="color: darkgray;"><br>
                        Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy Vegetables, Frozen Veg Food, Diapers & Wipes,
                    <br>
                    </td>
                </tr>
                <tr style="text-align: justify;">
                    <th style="color:rgb(130, 185, 41);">
                        POPULAR BRANDS
                    </th>
                    <td style="color: darkgray;"><br>
                        Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy Vegetables, Frozen Veg Food, Diapers & Wipes,
                    <br>
                    </td>
                </tr>
                <tr style="text-align: justify;">
                    <th style="color: rgb(130, 185, 41);">
                        CITIES WE SERVE
                    </th>
                    <td style="color: darkgray;"><br>
                        Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy Vegetables, Frozen Veg Food, Diapers & Wipes,
                    <br>
                    </td>
                </tr>
                <tr style="text-align: justify;">
                    <th style="color: rgb(130, 185, 41);">
                        PAYMENT OPTIONS
                    </th>
                    <td style="color: darkgray;"><br>
                        Sunflower Oils, Wheat Atta, Ghee, Milk, Health Drinks, Flakes, Organic F&V, Namkeen, Eggs, Floor Cleaners, Other Juices, Leafy Vegetables, Frozen Veg Food, Diapers & Wipes,
                    <br>
                    </td>
                </tr>
            </table>
        </center>
    </div>
    <hr width="90%" height="1px" style="margin-top: 2%">
    <p style="background-color: rgb(224, 224, 224);padding-left:10%;margin-bottom:0px;width:100%;font-size:small;padding-top:1%;padding-bottom:1%">
        Copyright © 2020-2021 Grocery Supplies Pvt Ltd
    </p>
</footer>