<header>
    <a href="/">Grocery Shop</a>
    <a href="/products">Products</a>
    <a href="/online_services">Online Services</a>
    <button><a href="/signin">Sign in / Sign up</a></button>

</header>