<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<header>
     <div class="topnav" id="myTopnav">
       <a href="/"><img src="/img/home.png" alt="Welcome" height="25px"></img></a>
        <a href="/" class="active">Grocery Mart</a>
        
        <a href="/products">Products</a>
        <a href="/onlineservices">Services</a>
        <a href="/shopping-cart">Cart 
        {{# if products}}
        <span style="border-radius: 50px;background-color:gray;padding:2px 7px;">{{session.cart.totalQty}}</span>
        {{/if}}
        </a>
        {{# if login}}
          <a id="signupButton" href="/profile" style="border: 1px;background-color:rgb(157, 201, 0);float:right;margin-right:20px">User Account</a>
          <a id="signupButton" href="/logout" style="border: 1px;background-color:rgb(157, 201, 0);float:right;margin-right:20px">Logout</a>
      
        {{else}}
          <a id="signupButton" href="/signup" style="border: 1px;background-color:red;float:right;margin-right:20px">Signup/Login</a>
        {{/if}}
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
  
</header>
      <script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }

}
</script>
</html>

<!--<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light topnav" id="myTopnav" style=" padding-top:10px;padding-bottom:10px;padding-left:16px;padding-right:16px">
  <a class="navbar-brand" href="/" style="font-size: x-large;"><img style="width: 35px;height:35px; float:left;margin-right:10px;" src="/img/navicon.png">Grocery Mart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="float: right;display:flex">
    <div class="navbar-nav ml-auto">
      <span style="width: 35rem;"></span>
      <a class="nav-item nav-link active" href="/products">Products <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/onlineservices">Online Services</a>
      <button id="input_signin_signup" style="background-color:green;border-radius:16px;padding-top:0px;padding-bottom:0px;padding-left:16px;margin-right:16px;"><a href="/signin" style="color: white;">Sign in / Sign up</a></button>
      <a class="nav-item nav-link" href="/cart">Cart</a>
    </div>
  </div>
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i>
  </a>
</nav>

</header>-->