.heading{
    color: rgb(36, 36, 36);
    font-size: xx-large;
    margin-left: 10%;
    margin-bottom:20px;
    margin-top:20px
}

hr{
    background-color: rgb(173, 173, 173);
}

.headingtext{
    color: rgb(136, 136, 136);
    font-size: medium;
}

.icontainer{
    width: 100%;
    
}

.irow{
    width: 100%;
}
.icol-20{
    width: 12%;
    float: left;
    margin-bottom:50px;
}
.category:hover{
    border-width: 1px;
    box-shadow:2px 2px 2px 2px gray;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.icol-33{
    width: 30%;
    float: left;
    margin-left: 1%;
    margin-right:1%;
    border: 1px solid rgb(20, 20, 87);
    border-radius: 8px;
}

.icol-20 img{
    height: 70px;
    width: 70px;
}

.icol-20 p{
    color: black;
}
.div3{
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    justify-content: space-around;
    border: 1px solid rgb(20, 20, 87);
    display: flex;
    width: 25%;
    height: 55%;
    margin-top: 3.5%;
    margin-left: 6%;
    justify-content: center;
    margin-bottom: 3.5%; 
    border-radius: 10px;
}

/* .brandcard{
    width: 30rem;
    background-color:rgb(245, 245, 245);
    padding:20px;
    margin-right: 2%;
    border-radius:8px;
    float: left;
} */

#carddiffcat{
    border-radius: 0;
    border-color: gray;
    border-width: 4px;
    margin: 2% 2% 2% 2%;
    background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
}


/* .carddiffcat{
    border-radius: 0;
    border-color: green;
    border-width: 4px;
    margin: 2% 2% 2% 2%;
    background-size:cover;
  background-repeat: no-repeat;
  background-position: top;
}
.carddiffcat:hover{
    filter: blur(5px);
} */

#buyProductLink{
    background-color: green;
    padding:12px;
    font-weight: 600;
    border-radius: 8px;
    font-size: 20px;
    filter: blur(0px);
    color: white;
    
}

/* #buyProductLink:hover{
    display:block;
    
    filter: blur(0px);
} */

.brandrow{
    padding-right:10%;padding-left:10%
}
#brandimg{
    width: 200px;
    height:200px;
    float: left;
    border-radius: 8px;
    border-width: 4px;
    border-color: gray;
}
#branddiv{
    width:200px;
    height: 200px;
    float: left;
    border-color: gray;
    border-width: 2px;
}
.diffcategories{
    border-width: 3px;
    border-color:green;
}

/* .card img{
    height:130px;
    width: 27rem;;
} */

@media screen and (max-width: 600px){
    .icol-20{
        width: 50%;
        float: left;
    }
    .heading{
        color: black;
        font-size: large;
        margin-left: 10%;
    }
    .icol-33{
        width: 100%;
        
    }
    /* .card{
        width:90%;
        margin: 15px 5%;
    } */
    
.brandrow{
    padding-right:1%;padding-left:1%
}
#brandimg{
    width: 100px;
    height:100px;
    float: left;
    border-radius: 8px;
    border-width: 4px;
    border-color: gray;
}
#branddiv{
    width:100px;
    height: 100px;
    float: left;
    border-color: gray;
    border-width: 2px;
}
#hideonsm{
    display: none;
}

}