/* section{
	display:flex;
	flex-direction:col;
	height:100%;
}

.column1{
	text-align:center;
	width:25%;
	background-color:navy;

}

.column2{
	width:75%;
	text-align:center;
	float:right;
}

#coloured{
	color:white;
	position: relative;
	top: 50%;
	justify-content:center;	
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

#white{
	color:navy;
	position: relative;
	top: 50%;
	justify-content:center;	
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	
}

.colouredbutton{
	background-color:#00000000;
	border-radius:16px;
	border-color:white;
	border-width:2px;
	padding:10px 50px 10px 50px;
	color:white;
}

#whiteButton{
	background-color:navy;
	border-radius:16px;
	border-color:white;
	border-width:2px;
	padding:10px 50px 10px 50px;
	color:white;
	
}

#headings{
    size: 16px;
} */

/* --------------------------------------------------------- */


* {
	box-sizing: border-box;
	font-family: Arial;
  }
  
  input, select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid black;
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  .ccontainer {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 80%;
	align-self: center;
	margin-left: 10%;
	margin-right: 10%;
  }
  
  .ccol-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  .ccol-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .crow:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.ccol-25, .ccol-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
	.ccontainer{
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
	}
  }