.oneproduct:hover{
    background-color: rgb(215, 252, 252);
    border-radius:15%;
    background-position-x: 10%;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color:rgb(215, 252, 252);}
    to {background-color:rgb(242, 255, 255);}
  }


* {
	box-sizing: border-box;
    font-family: Arial;
    color: black;
  }
  
  .pcol img{
      width: 100px;
      height: 100px;
  }

  /* input, select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid black;
	border-radius: 4px;
	resize: vertical;
  }
  
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  } */
  
  /* input[type=submit]:hover {
	background-color: #45a049;
  } */
  
  .pcontainer {
	border-radius: 5px;
	padding: 20px;
	width: 100%;
  }
  
  .pcol-48 {
	float: left;
	width: 48%;
    margin-top: 6px;
    font-size: small;
  }
  .pcol-16 {
	float: left;
	width: 16%;
    margin-top: 6px;
    margin-right: 1px;
    font-size: small;
  }  .pcol {
	float: left;
	width: 33%;
    margin-top: 6px;
    cursor: pointer;
    min-height: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Clear floats after the columns */
  .prow:after {
	content: "";
	display: table;
	clear: both;
  }
  #carouseling{
	width:100%;
	height:70%;
  }
  #corauseltext{
	position:absolute;
	top:30%;
	right:60%;
	left:15%;
	font-size: x-large;
  }
  
  #corauseltext h2{
	font-size: 40px;
  }
 
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.pcol, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
	.pcontainer{
		width: 100%;
		margin-left: 0%;
        margin-right: 0%;
        padding: 0px;
    }
    .pcol-48{
        font-size: 2.2vw;
    }
    .pcol-16{
        font-size: 2.2vw;
	}
	#carouseling{
		width:100%;
		height:50%;
	  }
	  #corauseltext{
		position:absolute;
		top:10%;
		right:60%;
		left:10%;
		font-size: medium;
	  }
	  #corauseltext h2{
		font-size: x-large;
	  }
	 
	  
    
  }