body{
    color:#333333;
    font-family:arial;
    margin:0 auto;
    padding:0;
     /* display:flex; 
     flex-direction: column; */
    /*min-height: 100vh; */
}

.main-content{
    flex-grow: 1;
}

/* footer{
    color:#888888;
    border-top:1px solid #eeeeee;
    padding:16px 0;
    margin-top: 16px;
} */
footer{
    background-color: #f8f6f6
}

header{
    margin-bottom:40px;
    font-size: large;
    /* position: fixed;
    width: 100%;
    z-index: 9999; */
}

h1{
    font-size:64px;
    margin-bottom:16px
}

header a{
    color:#888888;
    margin-right:16px;
    text-decoration: none
}

.potrait{
    width:250px
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px
}
tr{
    text-align: center;
}

.count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    /* font-size: 25px; */
    /* font-weight: 700; */
    /* line-height: 30px; */
    background-color: white;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    border: none;
}

.plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 30px;
    height: 23px;
    /* font: 30px/1 Arial, sans-serif; */
    text-align: center;
    border-radius: 50%;
}

.minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 30px;
    height: 23px;
    /* font: 30px/1 Arial, sans-serif; */
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover {
    background-color: #ec0f0f !important;
}

.plus:hover {
    background-color: #22ec66 !important;
}
@media screen and (min-width: 48em) {
    body {
        text-align: justify;
    }
}
.navbar {
    border-bottom: #008ed6 3px solid;
}

/* .nav2{
    color: rgb(20, 20, 87);
    padding-left:20px;
    padding-right:180px;
}
.nav2:hover{
    color: white;
} */

/* .products tr td:hover{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    from {background-color: lightgreen;}
    to {background-color: white;}
  } */
  