body{
    color:#333333;
    font-family:arial;
    margin:0 auto;
    padding:0;
     /* display:flex; 
     flex-direction: column; */
    /*min-height: 100vh; */
}
footer2{
    font-family: Arial;
    font-weight: 1;
}

footer{
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
}

.main-content{
    flex-grow: 1;
}

/* footer{
    color:#888888;
    border-top:1px solid #eeeeee;
    padding:16px 0;
    margin-top: 16px;
} */

header{
    margin-bottom:40px;
    font-size: large;
}

h1{
    font-size:64px;
    margin-bottom:16px
}

header a{
    color:#888888;
    margin-right:16px;
    text-decoration: none
}

.potrait{
    width:250px
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px
}
tr{
    text-align: center;
}
.navbar-expand-lg{
    overflow: hidden;
}

.nav1{
    color: white;
}
.nav1:hover{
    color: rgb(20, 20, 87);
}
.navlinks{
    display: flex;
    position: absolute;
    right: 5%;
    justify-content: space-around;
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    text-decoration: none;
    font-weight: bold;
}
.div2{
    float: left;
    opacity: 1;
    justify-content: space-around;
    border: 1px solid rgb(20, 20, 87);
    border-block-color: rgb(20, 20, 87); 
    width: 20%;
    height: 180px;
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 4%; 
    border-radius: 10px;
}
.div2 img{
    padding-top:5%;
    padding-left:30%;
    width: 70%;
    height:70%;
}

.heading{
    color:  rgb(20, 20, 87);
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 0px;
    margin-left:4%;
    padding-top:2%;
}
.div3{
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    justify-content: space-around;
    border: 1px solid rgb(20, 20, 87);
    display: flex;
    width: 25%;
    height: 55%;
    margin-top: 3.5%;
    margin-left: 6%;
    justify-content: center;
    margin-bottom: 3.5%; 
    border-radius: 10px;
}
.div3 h4{
    font-family: sans-serif;
    text-align: center;
    padding-top: 160px;
    color: white;
}
.lower{
    background-color : rgba(54, 54, 54, 0.267); 
    height: 280px;
    width: 100%;
}
.lower1{
    background-color : rgba(95, 95, 95, 0.267); 
    height: 250px;
    width: 100%;
    opacity: 0.5;
    margin-top: 6%;

}

.lower2{
    margin-top:0%;
    background-color: rgb(95, 91, 91);
    height:50px;
}
.lower2 h5{
    padding-left: 10%;
    padding-top: 15px;
    color: white;
    font-family: sans-serif;  
}

.count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    /* font-size: 25px; */
    /* font-weight: 700; */
    /* line-height: 30px; */
    background-color: white;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    border: none;
}

.plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 30px;
    height: 23px;
    /* font: 30px/1 Arial, sans-serif; */
    text-align: center;
    border-radius: 50%;
}

.minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 30px;
    height: 23px;
    /* font: 30px/1 Arial, sans-serif; */
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover {
    background-color: #ec0f0f !important;
}

.plus:hover {
    background-color: #22ec66 !important;
}
@media screen and (min-width: 48em) {
    body {
        text-align: justify;
    }
}
.navbar {
    border-bottom: #008ed6 3px solid;
}

/* .nav2{
    color: rgb(20, 20, 87);
    padding-left:20px;
    padding-right:180px;
}
.nav2:hover{
    color: white;
} */

/* .products tr td:hover{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  @keyframes example {
    from {background-color: lightgreen;}
    to {background-color: white;}
  } */
  